<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Activation</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }

      .container {
        max-width: 600px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h1 {
        color: #333;
      }

      p {
        color: #666;
      }

      .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #3498db;
        color: #fff !important;
        text-decoration: none;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Account Activation</h1>
      <p>Dear <%= name %>,</p>
      <p>
        Thank you for registering with us. To activate your account, please
        click the button below:
      </p>
      <a class="btn" href="<%= token %>">Activate Account</a>
      <p>
        If you're having trouble clicking the button, you can also copy and
        paste the following link into your browser:
      </p>
      <p><%= token %></p>
      <p>Thank you for choosing our service!</p>
      <p>Best regards,<br />Your aap.bgtechub.com</p>
    </div>
  </body>
</html>
