<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forget Password Email</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }

      h1 {
        color: #333;
      }

      p {
        color: #555;
      }

      .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #3498db;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
      }
      .name {
        font-weight: 600;
      }
      @media only screen and (max-width: 600px) {
        .container {
          width: 100%;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Forget Password</h1>
      <p>Hello <span class="name"><%= name %></span>,</p>
      <p>
        We received a request to reset your password. If you didn't make this
        request, please ignore this email.
      </p>
      <p>If you did request a password reset, click the button below:</p>
      <a class="btn" href="<%= token %>">Reset Password</a>
      <p>
        If the button above doesn't work, you can copy and paste the following
        link into your browser:
      </p>
      <p><%= token %></p>
      <p>This link will expire in 24 hours for security reasons.</p>
      <p>If you have any questions, feel free to contact our support team.</p>
      <p>Thank you!</p>
    </div>
  </body>
</html>
